.section {
    border-radius: 10px;
    margin: 0 auto 20px;
    padding: 10px;

    width: 1200px;
    overflow: hidden;
}
.title {
    color: rgb(55, 60, 70);
    font-size: 30px;
    text-align: center;
    margin: 0 auto 10px;
}
.paper {
    margin: 0 auto;
    width: 450px;
    min-height: auto;
    padding: 10px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter:  blur(2px);
}